@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  margin: 0;
}

:root {
  --bg-color: rgb(247, 247, 247);
}

* {
  font-family: "Poppins", sans-serif;
  /* outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
